main {
  min-height: 90vh;
}

footer {
  background-color: #abb6c2;
  color: #0000008c;
}

.home {
  margin-top: 250px;
}
.home .row {
  align-items: center !important;
}

.home span {
  color: #4c9be8 !important;
}

.home h3 {
  margin-bottom: 20px;
}

.home button {
  border-radius: 5px;
}

.about {
  margin-top: 250px;
}

.projects {
  margin-top: 100px;
}

.projects h3 {
  margin-bottom: 30px;
}

.contact {
  margin-top: 100px;
  margin-bottom: 100px;
}
